<h1>Subsector Details</h1>

<h3>Subsector Name: <%= subsector.subsectorName %></h3>
<p>Location: <%= subsector.location %></p>
<p>Username: <%= subsector.username %></p>

<a href="/subsectors">Back to All Subsectors</a>
<a href="/subsectors/<%= subsector._id %>/update">Edit Subsector</a>
<form action="/subsectors/<%= subsector._id %>/delete" method="POST">
  <button type="submit">Delete Subsector</button>
</form>
