<% layout('boilerplate') %>

<div class="container-fluid">
  <h3 class="text-dark mb-1">Update</h3>
</div>

<form class="shadow-sm" style="margin: 38px;margin-top: 29px;padding: 26px;" action="/weaponOwnerships/<%= weaponOwnership._id %>/update" method="post" enctype="multipart/form-data">
  <input class="form-control" name="weaponSerialNumber" type="text" placeholder="Weapon Serial Number" value="<%= weaponOwnership.weaponSerialNumber %>" required>

  <input class="form-control" name="ownerName" type="text" placeholder="Owner's Name" style="margin-top: 39px;" value="<%= weaponOwnership.ownerName %>" required>

  <input class="form-control" name="ownerIdNumber" type="text" placeholder="Owner's ID Number" style="margin-top: 39px;" value="<%= weaponOwnership.ownerIdNumber %>" required>

  <input class="form-control" name="fingerprint" type="text" placeholder="Fingerprint" style="margin-top: 39px;" value="<%= weaponOwnership.fingerprint %>">

  <input class="form-control" name="additionalFiles" type="file"  style="margin-top: 39px;" multiple>

  <button  class="btn btn-primary" data-bs-hover-animate="pulse" type="submit" style="margin-top: 40px;"><i class="fa fa-plus"></i>&nbsp;EDIT</button>
</form>

</div>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i>
</a>
</div>