<h1>Update Weapon Ownership</h1>

<form action="/weaponOwnerships/<%= weaponOwnership._id %>/update" method="POST" enctype="multipart/form-data">
  <div>
    <label for="weaponSerialNumber">Weapon Serial Number</label>
    <input type="text" id="weaponSerialNumber" name="weaponSerialNumber" value="<%= weaponOwnership.weaponSerialNumber %>" required>
  </div>
  <div>
    <label for="ownerName">Owner's Name</label>
    <input type="text" id="ownerName" name="ownerName" value="<%= weaponOwnership.ownerName %>" required>
  </div>
  <div>
    <label for="ownerIdNumber">Owner's ID Number</label>
    <input type="text" id="ownerIdNumber" name="ownerIdNumber" value="<%= weaponOwnership.ownerIdNumber %>" required>
  </div>
  <div>
    <label for="fingerprint">Fingerprint</label>
    <input type="text" id="fingerprint" name="fingerprint" value="<%= weaponOwnership.fingerprint %>">
  </div>
  <div>
    <label for="additionalFiles">Additional Files</label>
    <input type="file" id="additionalFiles" name="additionalFiles" multiple>
  </div>
  <button type="submit">Update Weapon Ownership</button>
</form>
