<% layout('boilerplate') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container-fluid">
  <h3 class="text-dark mb-1">Edit Resident</h3>
</div>

<form class="shadow-sm validated-form" style="margin: 38px;margin-top: 29px;padding: 26px;" action="/residents/edit/<%= resident._id %>" method="post" novalidate>

  <input class="form-control mb-3" name="name" id="fullName" type="text" placeholder="Full Name" value="<%= resident.name %>" style="margin-top: 39px;">

  <input class="form-control mb-3" name="location" id="location" type="text" placeholder="Address" value="<%= resident.location %>" style="margin-top: 39px;">

  <input class="form-control" name="fingerprintin1" id="fingerprintin1" value="<%= resident.fingerprint_uniq[0].img_path%>" type="text" placeholder="fingerprint 1" required>
  <img src="http://192.168.43.252:3000/<%=resident.fingerprint_uniq[0].img_path%>" alt="" class="img-fluid img-thumbnail">
  <p class="mt-1" id="status1"></p>
  <button class="btn btn-primary mt-1 mb-2" id="fingerprint1" type="button">Take Fingerprint 1</button>

  <input class="form-control" name="fingerprintin2" value="<%= resident.fingerprint_uniq[1].img_path%> %>" id="fingerprintin2" type="text" placeholder="fingerprint 2" required>
  <img src="http://192.168.43.252:3000/<%=resident.fingerprint_uniq[1].img_path%>" alt="" class="img-fluid img-thumbnail">
  <p class="mt-1" id="status2"></p>
  <button class="btn btn-primary  mb-2" name="fingerprint2"  id="fingerprint2" type="button">Take Fingerprint 2</button>

  <input class="form-control" name="fingerprintin3" value="<%= resident.fingerprint_uniq[2].img_path%> %>" id="fingerprintin3" type="text" placeholder="fingerprint 3" required>
  <img src="http://192.168.43.252:3000/<%=resident.fingerprint_uniq[2].img_path%>" alt="" class="img-fluid img-thumbnail">
  <p class="mt-1" id="status3"></p>
  <button class="btn btn-primary  mb-2" id="fingerprint3" name="fingerprint3" type="button">Take Fingerprint 3</button>

  <input class="form-control" name="fingerprintin4" value="<%= resident.fingerprint_uniq[3].img_path%> %>" id="fingerprintin4" type="text" placeholder="fingerprint 4" required>
  <img src="http://192.168.43.252:3000/<%=resident.fingerprint_uniq[3].img_path%>" alt="" class="img-fluid img-thumbnail">
  <p class="mt-1" id="status4"></p>
  <button class="btn btn-primary mb-2" id="fingerprint4" type="button">Take Fingerprint 4</button>

  <input class="form-control" name="fingerprintin5" value="<%= resident.fingerprint_uniq[4].img_path%>%>" id="fingerprintin5" type="text" placeholder="fingerprint 5" required>
  <img src="http://192.168.43.252:3000/<%=resident.fingerprint_uniq[4].img_path%>" alt="" class="img-fluid img-thumbnail">
  <p class="mt-1" id="status5"></p>
  <button class="btn btn-primary  mb-2" id="fingerprint5" type="button">Take Fingerprint 5</button>

  <input class="form-control mb-3" name="fatherName" id="fatherName" value="<%= resident.fatherName %>" type="text" placeholder="Fathers Name" style="margin-top: 39px;" required>

  <input class="form-control mb-3" name="motherName" id="motherName" value="<%= resident.motherName %>" type="text" placeholder="Mother's Name" style="margin-top: 39px;" required>

  <input class="form-control mb-3" name="birthPlace" id="birthPlace" value="<%= resident.birthPlace %>" type="text" placeholder="Birth Place" style="margin-top: 39px;" required>

  <input class="form-control mb-3" name="phoneNumber" id="phoneNumber" value="<%= resident.phoneNumber %>" type="text" placeholder="Phone Number" style="margin-top: 39px;" required>

  <input class="form-control mb-3" name="job" id="job" type="text" value="<%= resident.job %>" placeholder="Job" style="margin-top: 39px; " required>

  <input class="form-control" name="maritalStatus" value="<%= resident.maritalStatus %>" id="maritalStatus" type="text" placeholder="Marital Status" required>

  <input class="form-control mb-3" name="homeNumber" value="<%= resident.homeNumber %>" id="homeNumber" type="text" placeholder="Home Number" style="margin-top: 39px;" required>

  <input class="form-control" name="nationality" value="<%= resident.nationality%>" id="nationality" type="text" placeholder="Nationality" required>

  <input class="form-control mb-3" name="birthday" value="<%= resident.birthday %>" id="birthday" type="date" style="margin-top: 39px;" required>

  <input class="form-control" name="emergencyCall" id="emergencyCall" value="<%= resident.emergencyCall %>" type="text" placeholder="Emergency Call " required>

  <input class="form-control mb-3" name="emergencyPersonName" id="job" value="<%= resident.emergencyPersonName %>" type="text" placeholder="Emergency Person Name" style="margin-top: 39px;" required>

  <input class="form-control" name="document" id="document" value="<%= resident.document%>" type="file" required>

  <input class="form-control" name="email" type="email" value="<%= resident.email %>" placeholder="example@gmail.com" style="margin-top: 39px;" required>
  
  <div class="card mt-3" style="width: 18rem;">
    <input class="form-control" name="image" id="image" value="<%= resident.image %>" type="text" placeholder="fingerprint image path" required>
    <img id="video" class="card-img-top" src="http://192.168.43.252:5000/video_feed" alt="Card image cap">
    <div class="card-body">
      <button id="capture-button" type="button" class="btn btn-primary">Capture</button>
      <p id="im_status"></p>
    </div>
  </div>
  <button  class="btn btn-primary" data-bs-hover-animate="pulse" type="submit" style="margin-top: 40px;"><i class="fa fa-plus"></i>&nbsp;Edit</button>
</form>

</div>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i>
</a>
</div>






<script>
  $(document).ready(function() {
    // Capture button click event
    
    $('#capture-button').click(function() {
      // Send a POST request to the /capture endpoint
      $.get('http://192.168.43.252:5000/stop_stream').then(()=>{
        console.log("stream stopped")
      })
      const textInput = $('#fullName').val();
      const currentTime = new Date().getTime()
      let req = {
        filename:`${textInput}${currentTime}.jpg`
      };
      console.log(req)
    $.ajax({
      url:'http://192.168.43.252:5000/capture',
      type:'POST', 
      dataType:'json',
      contentType:'application/json', 
      data:JSON.stringify(req),
      success:function(data){
        console.log(data)
         $("#image").val(`${data.data}`)
        $("#im_status").text(data.description);
      }
    })
  });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  // Get the button and input elements by their IDs
 
  console.log("position", pos)
  const fingerprintButton1 = document.getElementById('fingerprint1');
  
  // Add a click event listener to the fingerprint button
  fingerprintButton1.addEventListener('click', function() {
    const fullNameInput = document.getElementById('fullName');
    console.log("full-name", fullNameInput.value)
    // Generate a random ID number between 0 and 999
    const idNumber = <%=resident.fingerprint_uniq[0].ifingerpint%>;
    
    // Get the value from the fullName input field
    const fullName = fullNameInput.value;

    // Create an object with the data to be sent
    const data = {
      id: idNumber,
      name: `${fullName}1.jpg`
    };

    const status1 = document.getElementById("status1")
    const fingerprintInput = document.getElementById("fingerprintin1")
    // Send a POST request using Axios
    axios.post('http://192.168.43.252:3000/register', data)
      .then(function(response) {
        
        // Log the response data to the console
        console.log(response.data);

        if(response.data.msg){
          status1.innerText = "Fingerprint Extracted Successfully"
          fingerprintInput.value = response.data.image
         
        }else{
          status1.innerText = "fingerprints dont match or already registered"
        }
      })
      .catch(function(error) {
        // Handle any errors that occurred during the request
        status1.innerText = "oops try again"
        console.error(error);
      });
  });






  const fingerprintButton2 = document.getElementById('fingerprint2');
  fingerprintButton2.addEventListener('click', function() {
    const fullNameInput = document.getElementById('fullName');
    console.log("full-name", fullNameInput.value)
    // Generate a random ID number between 0 and 999
    const idNumber = <%=resident.fingerprint_uniq[1].ifingerpint%>;;
    // Get the value from the fullName input field
    const fullName = fullNameInput.value;

    // Create an object with the data to be sent
    const data = {
      id: idNumber,
      name: `${fullName}2.jpg`
    };

    const status = document.getElementById("status2")
    const fingerprintInput = document.getElementById("fingerprintin2")
    // Send a POST request using Axios
    axios.post('http://192.168.43.252:3000/register', data)
      .then(function(response) {
        
        // Log the response data to the console
        console.log(response.data);

        if(response.data.msg){
          status.innerText = "Fingerprint Extracted Successfully"
          fingerprintInput.value = response.data.image
        }else{
          status.innerText = "fingerprints dont match or already registered"
        }
      })
      .catch(function(error) {
        // Handle any errors that occurred during the request
        status.innerText = "oops try again"
        console.error(error);
      });
  });


  const fingerprintButton3 = document.getElementById('fingerprint3');
  fingerprintButton3.addEventListener('click', function() {
    const fullNameInput = document.getElementById('fullName');
    console.log("full-name", fullNameInput.value)
    // Generate a random ID number between 0 and 999
    const idNumber = <%=resident.fingerprint_uniq[2].ifingerpint%>;;
    
    // Get the value from the fullName input field
    const fullName = fullNameInput.value;
    console.log(fullName)

    // Create an object with the data to be sent
    const data = {
      id: idNumber,
      name: `${fullName}3.jpg`
    };
    const status = document.getElementById("status3")
    const fingerprintInput = document.getElementById("fingerprintin3")
    // Send a POST request using Axios
    axios.post('http://192.168.43.252:3000/register', data)
      .then(function(response) {
        // Log the response data to the console
        console.log(response.data);
        
        if(response.data.msg){
          status.innerText = "Fingerprint Extracted Successfully"
          fingerprintInput.value = response.data.image
        }else{
          status.innerText = "fingerprints dont match or already registered"
        }
      })
      .catch(function(error) {
        // Handle any errors that occurred during the request
        status.innerText = "oops try again"
        console.error(error);
      });
  });

  const fingerprintButton4 = document.getElementById('fingerprint4');
  fingerprintButton4.addEventListener('click', function() {
    const fullNameInput = document.getElementById('fullName');
    console.log("full-name", fullNameInput.value)
    // Generate a random ID number between 0 and 999
    const idNumber = <%=resident.fingerprint_uniq[3].ifingerpint%>;;
   
    // Get the value from the fullName input field
    const fullName = fullNameInput.value;

    // Create an object with the data to be sent
    const data = {
      id: idNumber,
      name: `${fullName}4.jpg`
    };

    const status = document.getElementById("status4")
    const fingerprintInput = document.getElementById("fingerprintin4")
    // Send a POST request using Axios
    axios.post('http://192.168.43.252:3000/register', data)
      .then(function(response) {
        
        // Log the response data to the console
        console.log(response.data);

        if(response.data.msg){
          status.innerText = "Fingerprint Extracted Successfully"
          fingerprintInput.value = response.data.image
        }else{
          status.innerText = "fingerprints dont match or already registered"
        }
      })
      .catch(function(error) {
        // Handle any errors that occurred during the request
        status.innerText = "oops try again"
        console.error(error);
      });
  });

  const fingerprintButton5 = document.getElementById('fingerprint5');
  fingerprintButton5.addEventListener('click', function() {
    const fullNameInput = document.getElementById('fullName');
    console.log("full-name", fullNameInput.value)
    // Generate a random ID number between 0 and 999
    const idNumber = <%=resident.fingerprint_uniq[4].ifingerpint%>;;
    
    // Get the value from the fullName input field
    const fullName = fullNameInput.value;

    // Create an object with the data to be sent
    const data = {
      id: idNumber,
      name: `${fullName}5.jpg`
    };

    const status = document.getElementById("status5")
    const fingerprintInput = document.getElementById("fingerprintin5")
    // Send a POST request using Axios
    axios.post('http://192.168.43.252:3000/register', data)
      .then(function(response) {
        
        // Log the response data to the console
        console.log(response.data);

        if(response.data.msg){
          status.innerText = "Fingerprint Extracted Successfully"
          fingerprintInput.value = response.data.image
        }else{
          status.innerText = "fingerprints dont match or already registered"
        }
      })
      .catch(function(error) {
        // Handle any errors that occurred during the request
        status.innerText = "oops try again"
        console.error(error);
      });
  });
</script>