<!-- view-all-crimes.ejs -->

<h1>All Crimes</h1>

<a href="/crimes/create">Create New Crime</a>

<ul>
  <% crimes.forEach((crime) => { %>
    <li>
      <h3>File Number: <%= crime.fileNumber %></h3>
      <p>Criminal Name: <%= crime.criminalName %></p>
      <p>Criminal ID Number: <%= crime.criminalIdNumber %></p>
      <p>Crime Committed Place: <%= crime.crimeCommittedPlace %></p>
      <p>Crime Description: <%= crime.crimeDescription %></p>
      <p>Crime Type: <%= crime.crimeType %></p>
      <p>Victim Name: <%= crime.victimName %></p>
      <p>Victim ID: <%= crime.victimId %></p>
      <a href="/crimes/<%= crime._id %>">View Details</a>
      <a href="/crimes/<%= crime._id %>/update">Update</a>
      <form action="/crimes/<%= crime._id %>/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
