<% layout('boilerplate') %>
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
      role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">General Information</h6>
  </a>
  <!-- Card Content - Collapse -->

 
  <div class="collapse show" id="collapseCardExample">
    <ul class="list-group">
      <li class="list-group-item">File Number: <%= crime.fileNumber %></li>
      <li class="list-group-item">Criminal Name: <%= crime.criminalName %></li>
      <li class="list-group-item">Criminal ID Number: <%= crime.criminalIdNumber %></li>
      <li class="list-group-item">Crime Committed Place: <%= crime.crimeCommittedPlace %></li>
      <li class="list-group-item">Crime Type: <%= crime.crimeType %></li>
      <li class="list-group-item">Victim Name: <%= crime.victimName %></li>
      <li class="list-group-item">Victim ID: <%= crime.victimId %></li>
      <li class="list-group-item">Finger Print: <%= crime.fingerPrint %></li>
      <li class="list-group-item">Crime Description: <%= crime.crimeDescription %></li>
      <li class="list-group-item">Crime Description: <%= crime.crimeDescription %></li>
      <% if (crime.additionalFiles && crime.additionalFiles.length > 0) { %>
          <% for (let i = 0; i < crime.additionalFiles.length; i++) { %>
            <li class="list-group-item">file : <%= crime.additionalFiles[i].file_path %></li>
          <% } %>
      <% } else { %>
        <p class="list-group-item" >No additional files available.</p>
      <% } %>
    </ul>
    <div class="d-flex p-3">
    <a class="btn btn-outline-primary mr-3" href="/crimes/<%= crime._id %>/update">Edit</a>
    <form action="/crimes/<%= crime._id %>/delete" method="POST">
      <button class="btn btn-outline-danger" type="submit">Delete</button>
    </form>
    </div>
  </div>
</div>