<h1>Subsector Details</h1>

<div>
  <p><strong>Subsector Name:</strong> <%= subsector.subsectorName %></p>
  <p><strong>Location:</strong> <%= subsector.location %></p>
  <p><strong>Username:</strong> <%= subsector.username %></p>
</div>

<a href="/subsector/update/<%= subsector._id %>">Edit</a>
<a href="/subsector/delete/<%= subsector._id %>">Delete</a>
