<% layout('boilerplate') %>
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
      role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">General Information</h6>
  </a>
  <!-- Card Content - Collapse -->

 
  <div class="collapse show" id="collapseCardExample">
    <ul class="list-group">
      <li class="list-group-item">Weapon Name:</strong> <%= weapon.weaponName %></li>
      <li class="list-group-item">Amount:</strong> <%= weapon.weaponAmount %></li>
      <li class="list-group-item">Serial Number:</strong> <%= weapon.weaponSerialNumber %></li>
      <li class="list-group-item">Fingerprint: <%= weaponOwnership.fingerprint %></li>
      <% if (weaponOwnership.additionalFiles && weaponOwnership.additionalFiles.length > 0) { %>
          <% weaponOwnership.additionalFiles.forEach((file) => { %>
            <li class="list-group-item"><a href="<%= file.filePath %>"><%= file.filePath %></a></li>
          <% }); %>
      <% } else { %>
        <li class="list-group-item">No additional files.</li>
      <% } %>
    </ul>
    <div class="d-flex p-3">
    <a class="btn btn-outline-primary mr-3" href="/weapons/<%= weapon._id %>/update">Edit</a>
    <form action="/weapons/<%= weapon._id %>/delete" method="POST">
      <button class="btn btn-outline-danger" type="submit">Delete</button>
    </form>
    </div>
  </div>
</div>


